.wrapper{
	border:2px solid red;
	margin: 0px 0px 0px 400px;
	display: inline-block;
}

.row{
	display: block;
}
.row>div{
	float: left;
	display: block;
	background-color: black;
	opacity: 0;
}

#button{
	display: block;
	margin: 10px 0px 0px 600px;
}

body{
	display: block;
	background-color: yellow;
}

p{
	font-size: 15px;
	text-align: center;
}