.wrapper{
	border:2px solid red;
	margin: auto;
	display: inline-block;
}

.row{
	display: block;
}
.row>div{
	float: left;
	width: 15px;
	height: 15px;
	display: block;
}

.active{
	background-color: purple;
}

#button{
	display: block;
	margin: 10px auto;
}

body{
	display: block;
}